/*
Theme Nme: CSS New
Description: Specially designed CCS theme
Verison: 1
Author: Wordpress Developer
Author URI: http://www.jamesbruce.me
*/

/* General Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, hr, button{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:14px;
	vertical-align: baseline;
	background:none;
}
html, body {
	height:100%;
}
table {
	margin-bottom:10px;
}
table td {
	padding:5px;
}
table th {
	background:#FFFCDB;
}

span
{
	font-size:100%;
}

ol, ul {list-style:none;}
h1, h2, h3, h4, h5, h6, li {line-height:100%;font-size:100%;}
blockquote, q {quotes:none;}
q:before{content:"";}
q:after{content:"";}
table {border-collapse:collapse; border-spacing:0;}
input, textarea, button {font-family:inherit; font-size:1em;}
/* General Settings*/
html{
	min-width:1000px;
	background:url(../images/bg-main-page.jpg) 50% 0;
}
body{
	color:black;
	min-width:1000px;
	font:12px/19px Arial, Helvetica, sans-serif;
	background:url(../images/bg-page.jpg) repeat-x 50% 0;
}
a{
	color:#fff;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:focus{outline:none;}
input,textarea,select{
	font:11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}
form,fieldset{border-style:none;}
/* wrapper start */
.wrapper{
	width:100%;
	position:relative;
	overflow:hidden;
	background:url(../images/bg-footer.jpg) repeat-x 50% 100%;
}
.w1{
	position:relative;
	left:50%;
	float:left;
}
.w2{
	float:left;
	position:relative;
	left:-50%;
}

.banner-left-half{
  display: inline-block;
  float: left;
  padding: 0 5px;
}

.banner-right-half{
  display: inline-block;
  float: left;
  padding: 0 5px;
}

#wrapper{
	margin:0 auto;
	float:left;
	width:1000px;
}

/*
.flag{
	position:absolute;
	bottom:71px;
	text-indent:-9999px;
	overflow:hidden;
	right: -150px;
	background:url(images/flag.png) no-repeat;
	width: 158px;
	height: 152px;
}
*/

/* header start */
#header{
	width:100%;
}
.header-area{
	padding: 0 10px 1px 7px;
	overflow:hidden;
}
.header-area .logo{
	background-repeat:no-repeat;
	width: 309px;
	height: 64px;
	margin:11px 15px 0 0;
	overflow:hidden;
	float:left;
	text-indent:-9999px;
}
.logo a{
	height:64px;
	display:block;
}
.header-area .holder{
	overflow:hidden;
	height:1%;
	padding:6px 0 0;
}
.header-area .nav{
	width:100%;
	padding:0 0 31px;
	overflow:hidden;
}
.header-area .nav ul{
	float:right;
	margin-right:-10px;
}
.header-area .nav li{
	float:left;
	background:url(../images/sep01.gif) no-repeat 100% 2px;
	padding:0 12px 3px 13px;
}
.header-area .pay-block{
	width:100%;
	overflow:hidden;
}
.header-area .pay-block img{float:right;}
#menu-top-navigation{
	/*overflow:hidden;*/
	padding:0 0 0 14px;
	z-index:300;
	position:relative;
}
#menu-top-navigation li,
#menu-top-navigation li a,
#menu-top-navigation li li span {
	display:block;
}
#menu-top-navigation li:first-child{
	background:none;
	padding-left:0;
}
#menu-top-navigation li{
	float:left;
	padding:0 15px 5px;
	font:16px/18px Arial, Helvetica, sans-serif;
	background:url(../images/sep02.gif) no-repeat 0 100%;
}
#menu-top-navigation li a{
	float:left;
	color:#1e1e1e;
	padding-right:22px;
}
#menu-top-navigation li a span{
	float:left;
	cursor:pointer;
	height:23px;
	padding:14px 0 0 22px;
}
#menu-top-navigation li.current-menu-item a,
#menu-top-navigation li a:hover{
	text-decoration:none;
	background:url(../images/bg-nav.gif) no-repeat 100% -37px;
	color:#fff;
}
#menu-top-navigation li.current-menu-item a span,
#menu-top-navigation li a:hover span{
	background:url(../images/bg-nav.gif) no-repeat;
}
/* header end */
/* main start */
#main{
	overflow:hidden;
	background:#fff url(../images/bg-main.gif) no-repeat;
	padding:18px 0 27px 14px;
	position:relative;
	z-index:10;
	float:left;
}
.contact-page #main{padding-bottom:54px;}
.home #main{padding:15px 0 27px 11px;}
.main-frame{
	position:relative;
	width:1022px;
	/*background:url(images/bg-main.png) no-repeat 0 100%;*/
	/*padding:0 0 20px;*/
	margin:0 -11px;
}
.main-area{
	/*background:url(images/bg-main.png) repeat-y -1022px 0;*/
	background:#fff;
	padding:0 11px;

}
#content{
	float:left;
	width:690px;
	padding:0 5px 0 0;
}
.contact-page #content{
	width:601px;
	padding: 0 0 0 7px;
}
.banner-holder{
	margin:0 -5px 19px 0;
	padding:0 7px 7px 0;
	width:678px;
}
.banner-holder img{display:block;}
.two-boxes{
	background:url(../images/bg-two-boxes.gif) repeat-y 100% 0;
	width:679px;
	margin:0 0 26px;
	float:left;
}
.two-boxes-out{
	float:left;
	background:url(../images/bg-two-boxes.gif) no-repeat;
}
.two-boxes-in{
	overflow:hidden;
	position:relative;
	padding:0 0 11px;
	background:url(../images/bg-two-boxes.gif) no-repeat -679px 100%;
	float:left;
	width:679px;
}
.two-boxes .box{
	float:left;
	padding:45px 11px 30px 12px;
	width:232px;

}
.two-boxes .box2{
	float:right;
	width:385px;
}
.two-boxes h2{
	margin: -38px 0 20px;
	color:#fb5e00;
	font:italic bold 16px/18px Arial, Helvetica, sans-serif;
	color:#be1f05;
}
.two-boxes .box2 h2{color:#be1f05;}
.two-boxes ul{padding: 0 0 7px 3px;}
.two-boxes li{
	vertical-align:top;
	color:#ff6c00;
	padding:0 0 7px 18px;
	font:12px/15px Arial, Helvetica, sans-serif;
	background:url(../images/bullet02.gif) no-repeat 0 3px;
	color:#d51511;
}
.two-boxes .box2 li{
	color:#d51511;
	background:url(../images/bullet02.gif) no-repeat 0 3px;
}
.two-boxes .btn-holder{
	width:232px;
	position:absolute;
	bottom:13px;
	overflow:hidden;
}
.two-boxes .box2 .btn-holder{width:385px;}
.two-boxes .btn-holder a{
	float:right;
	color:#3e3e3e;
	line-height:15px;
	padding-right:18px;
	background:url(../images/btn-more-gray.gif) no-repeat 100% -30px;
}
.two-boxes .btn-holder a:hover{text-decoration:none;}
.two-boxes .btn-holder a span{
	float:left;
	height:24px;
	background:url(../images/btn-more-gray.gif) no-repeat;
	cursor:pointer;
	padding:6px 0 0 18px;
}
.txt-content{width:100%;}
.txt-content h3{
	color:#000000;
	font:bold italic 16px/19px Arial, Helvetica, sans-serif;
	padding:0 0 5px;
	margin:0 0 13px;
	border-bottom:1px solid #cacaca;
}
.txt-content p{
	margin:0 0 15px;
}
.txt-content .btn-holder{
	width:100%;
	overflow:hidden;
}
.txt-content .btn-holder a{
	float:right;
	line-height:15px;
	color:#000000;
	background:url(../images/btn-more.gif) no-repeat;
}
.txt-content .btn-holder a:hover{text-decoration:none;}
.txt-content .btn-holder a span{
	cursor:pointer;
	float:left;
	padding:4px 20px 0 17px;
	height:23px;
	background:url(../images/btn-more.gif) no-repeat 100% -27px;
}
#sidebar{
	float:right;
	width:273px;
	padding-right:16px;

}
.contact-page #sidebar{width:328px;}
.car-menu{
	width:276px;
	margin: 0 0 12px;
}
.car-menu li{
	vertical-align:top;
	padding:0 0 13px;
}
.car-menu li a{
	display:block;

	padding:18px 0 0 91px;
	height:40px;
	color:#000;
	font:italic bold 14px/17px Arial, Helvetica, sans-serif;
}

/*

0,0

menu-item-338 - coaster

0,-58

menu-item-339 - mercedes sclass w221

0,-174

menu-item-340 - benz mb100

0,-58

menu-item-341 - buick gl8

0, -116
menu-item-342 - audi a6

0,- 232

menu-item-343 - bmw 5 series

0,-290

*/

.car-menu-item a {
	background:url(../images/car-item.png) no-repeat;
	background-position:0px 0px;
}

.car-menu-item {
	position:relative;
}

.car-menu-item .icon {
	max-width:70px;
	max-height:45px;
	padding:0px;
	margin:0px;
	border:none;
	position:absolute;
	left:5px;
	top:2px;
}

#menu-item-339 a {
	background-position:0px -174px;
}

#menu-item-340 a {
	background-position:0px -58px;
}

#menu-item-341 a {
	background-position:0px -116px;
}

#menu-item-342 a {
	background-position:0px -232px;
}

#menu-item-343 a {
	background-position:0px -290px;
}



/*

for image rotations

*/

/* rotator in-page placement */
div.rotator {
	position:relative;
	height:269px;
	width:678px;
	margin-bottom: 10px;
}
/* rotator css */
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotator image style */
	div.rotator ul li img {
}
        div.rotator ul li.show {
	z-index:500;
}



.car-menu li a:hover{text-decoration:none;}
.car-menu li a.link-mercedes{background-position:0 -58px;}
.car-menu li a.link-buick{background-position:0 -116px;}
.car-menu li a.link-audi{background-position:0 -174px;}
.box-contact{
	width:289px;
	margin:0 -16px 0 0;
	background:url(../images/bg-contact-box.gif) repeat-y 100% 0;
}
.box-contact .box-out{background:url(../images/bg-contact-box.gif) no-repeat;}
.box-contact .box-in{
	padding:15px 15px 0 4px;
	width:270px;
	background:url(../images/bg-contact-box.gif) no-repeat -289px 100%;
}
.box-contact h3{
	color:#a40000;
	font:bold italic 16px/19px Arial, Helvetica, sans-serif;
	padding:0 0 7px 16px;
	margin:0 0 11px;
	background:url(../images/sep03.gif) repeat-x 0 100%;
}
.box-contact .cell{
	padding:0 70px 34px 19px;
	z-index:20;
}
.box-contact .cell address{
	font-style:normal;
}
.menu-box{
	background:url(../images/bg-menu-box.gif) repeat-y 100% 0;
	width:274px;
	margin: 0 0 14px;
}
.menu-box .box-out{background:url(../images/bg-menu-box.gif) no-repeat;}
.menu-box .box-in{
	width:254px;
	padding:6px 11px 7px 9px;
	background:url(../images/bg-menu-box.gif) no-repeat -274px 100%;
}
.menu-box ul{
	width:100%;
	overflow:hidden;
}
.menu-box li{
	margin:-2px 0 2px;
	background:url(../images/sep04.gif) repeat-x;
	padding:2px 0 0;
	vertical-align:top;
	font:italic 14px/16px Arial, Helvetica, sans-serif;
}
.menu-box li a{
	display:block;
	padding:9px 3px 8px 45px;
	background:url(../images/bullet03.gif) no-repeat 15px 50%;
}
.menu-box li a:hover{
	text-decoration:none;
	background-color:#420701;
}
.clear{
	width:100%;
	clear:both;
}
.main-wrapper{
	width:100%;
	overflow:hidden;
}
/* .universal-ttl */
.universal-ttl{
	overflow:hidden;
	background:url(../images/bg-universal-ttl.gif) no-repeat;
	width: 939px;
	height: 53px;
	margin:0 0 20px;
	padding:5px 18px 0 19px;
}
.universal-ttl h1{
	float:left;
	color:#fff;
	padding:4px 0 0;
	font:bold italic 32px/35px Arial, Helvetica, sans-serif;
}
.universal-ttl h1 span{color:#fffc00;}
.universal-ttl .link{
	background:url(../images/bg-link.png) no-repeat;
	width: 187px;
	height: 45px;
	float:right;
	text-indent:-9999px;
	overflow:hidden;
}
/* about-block */
.about-block{
	width:679px;
	margin:0 0 43px;
}
.about-block .top{
	background:url(../images/bg-about-top.gif) no-repeat;
	width: 639px;
	height: 29px;
	padding:10px 20px 0;
	margin:0 0 1px;
}
.about-block2 .top{background:url(../images/bg-about2-top.gif) no-repeat;}
.about-block .top h2{
	font:bold italic 18px/21px Arial, Helvetica, sans-serif;
	color:#ed5215;
}
.about-block2 .top h2{color:#2166c6;}
.about-block .holder{
	border-top:1px solid #bababa;
	color:black;
	font:12px/19px Arial, Helvetica, sans-serif;
	background:url(../images/bg-holder.gif) repeat-y 100% 0;
}
.about-block .holder-in{
	padding:20px 20px 49px;
	overflow:hidden;
	height:1%;
	background:url(../images/bg-holder.gif) no-repeat 0 100%;
}
.about-block .holder p{margin:0 0 19px;}
.about-block .holder-txt{
	overflow:hidden;
	padding:20px 20px 29px;
}
.btns-holder{
	background: transparent;
	/*url(images/bg-btns-holder.gif) no-repeat scroll 0 100% */
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    font:bold 110% Arial,Helvetica,sans-serif;
    overflow: hidden;
    padding: 11px 8px 8px 13px;

}
.btns-holder a{
	float:left;
	color:#fff;
	height:26px;
	text-align:center;
	width:100%;
	padding:4px 0 0;
}
.btns-holder span{
	float:left;
	padding:0 8px 7px 0;
}
.btns-holder span.blue-btn{
	background:url(../images/btns.gif) no-repeat;
	width:319px;
}
.btns-holder span.orange-btn{
	background:url(../images/btns.gif) no-repeat 0 -37px;
	width:308px;
}
.fleet-block{
	color:#434343;
	overflow:hidden;
	font:12px/19px Arial, Helvetica, sans-serif;
	margin:0 0 15px;
}
.fleet-block p{margin:0 0 15px;}
.fleet-holder{
	width:671px;
	border-top:6px solid #e6e6e6;
}
.fleet-holder .block{
	overflow:hidden;
	color:black;
	//font:12px/19px Arial, Helvetica, sans-serif;
	padding:23px 15px 28px 1px;
	border-bottom:1px solid #e6e6e6;
}
.fleet-holder .block p{margin:0 0 13px;}
.fleet-holder .block .img{
	float:left;
	border:5px solid #e7e7e7;
	margin:0 42px 0 0;
}
.fleet-holder .block .img img{display:block; width:240px;}
.fleet-holder h2{
	margin:0 0 3px;
	color:#2f3133;
	font:bold italic 17px/20px Arial, Helvetica, sans-serif;
}
.fleet-holder .txt{
	overflow:hidden;
	height:1%;
	padding:0 0 0 5px;
}
.ranks{
	width:100%;
	overflow:hidden;
	margin:0 0 14px;
}
.ranks li{
	float:left;
	margin:0 6px 0 0;
}
.ranks li img{display:block;}
.fleet-holder .btn{
	font:13px/16px Arial, Helvetica, sans-serif;
	background:url(../images/btn-orange.gif) no-repeat;
	width: 429px;
	height: 26px;
	margin:0 0 0 -5px;
	padding:0 3px 4px 0;
	display:block;
}
.fleet-holder .btn a{
	color:#fff;
	float:left;
	width: 377px;
	height: 22px;
	padding:4px 38px 0 14px;
}
/* cars-list */
.cars-list{
	overflow:hidden;
	width:100%;
}
.cars-list li{
	border-top:1px solid #bababa;
	margin:-1px 0 1px;
	padding:19px 18px 16px 4px;
	float:left;
	clear:both;
}
.cars-list .img{
	float:left;
	margin:2px 17px 0 0;
}
.cars-list .img img{display:block;}
.cars-list .txt{
	overflow:hidden;
	height:1%;
	color:#434343;
	font:12px/19px Arial, Helvetica, sans-serif;
}
.cars-list .txt .mark{color:#ce1e0b;}
/* check-list */
.check-list{
	width:100%;
	overflow:hidden;
}
ul.default , ol.default{
	padding-left:20px;
	margin-left:20px;
	list-style-type:inherit;
}
ol.default {
	list-style-type:decimal;
}
ul.default li, ol.default li {
	padding:1px!important;
	margin:0px!important;
	border-top:none!important;
	background:none!important;
}
.about-block ul{
	list-style-type:disc;
	margin-left:20px;
}
.about-block li{
	padding:4px 2px;
	line-height: 14px;
	/*border-top:1px solid #c3c3c3;
	padding:12px 0 12px 46px;
	background:url(../images/bullet04.png) no-repeat 1px 13px;
	color:black;
	font:12px/19px Arial, Helvetica, sans-serif;*/
}
.about-block2 .check-list li{background:url(../images/bullet05.png) no-repeat 1px 13px;}
.about-block  li p{
	margin:0;
	padding:0 0 20px;
}
.check-list li p strong{color:#ed5215;}
.about-block2 .check-list li strong{color:#2166c6;}
/* rates-block */
.display_none{
  display: none;
}
.child_tab_selector_container ul{
  height:50px;
}
.child_tab_selector_container ul li{
  float: left;
  width: 25%;
}

.child_tab_selector_container ul li a{
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  display:block;
  text-align:center;
  padding: 10px;
  background-color: #F3F3F3;
  color:#A40000 !important;
  cursor: pointer;
}

.child_tab_selector_container ul li a:hover{
	text-decoration: none;
	background-color: #590901;
	color: white !important;
}

.child_tab_selector_container ul li a.active_child{
	background-color: #590901;
	color: white !important;
}

.rates-block{
	width:679px;
	margin:0 0 14px;
}
.rates-block .top{
	background:url(../images/bg-about2-top.gif) no-repeat;
	width: 679px;
	height: 29px;
	margin:0 0 1px;
	padding:10px 19px 0;
}
.rates-block .top h2{
	color:#d8240c;
	font:bold italic 18px/21px Arial, Helvetica, sans-serif;
}
.rates-block .holder{background:url(../images/bg-rates-block.gif) repeat-y 100% 0;}
.rates-block .w-holder{
	padding:0 0 23px;
	width:679px;
	background:url(../images/bg-rates-block.gif) no-repeat 0 100%;
}
.rates-block .holder-in {
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
}
.rates-block .txt-box{
	padding:13px 20px 0;
	color:#000;
	font:12px/19px Arial, Helvetica, sans-serif;
}
.rates-block table{
	width:100%;
	border-collapse:collapse;
}
.rates-block th,
.rates-block td{
	text-align:center;
	vertical-align:middle;
	color:#000;
	padding:10px 2px;
	border:1px solid #d7d7d7;
	font:12px/15px Arial, Helvetica, sans-serif;
}
.rates-block .table1 .cell1{width:110px;}
.rates-block .table1 .cell3{width:200px;}
.rates-block .table1 .cell4{width:106px;}
.rates-block .table1 .cell5{width:100px;}
.rates-block .table1 .cell6{width:89px;}
/*.rates-block .mark,*/
.rates-block  th,
.rates-eng-driver-box .mark{
	background-color:#fffcdb;
}
.rates-block .table2 .cell1{
	width:151px;
	text-align:left;
	padding-left:14px;
}
.rates-block .table2 .cell2{width:98px;}
.rates-block .table2 .cell4{width:99px;}
.rates-block .table2 .cell5{width:100px;}
.rates-block .table3 th,
.rates-block .table3 td{
	text-align:left;
	padding-left:16px;
}
/* contact-block */
.contact-block{width:100%;}
.contact-block .ttl{
	padding:6px 0 15px 48px;
	border-bottom:6px solid #e6e6e6;
	color:#525252;
	font:bold italic 18px/21px Arial, Helvetica, sans-serif;
}
.contact-block form{padding:14px 20px 0 16px;}
.contact-block .row{
	width:100%;
	margin:0 0 11px;
	overflow:hidden;
}
.contact-block label{
	display:block;
	color:#242424;
	padding:0 0 9px;
	font:13px/16px Arial, Helvetica, sans-serif;
}
.contact-block .txt{
	background:url(../images/bg-txt.gif) no-repeat;
	width: 545px;
	height: 43px;
	overflow:hidden;
	padding:2px 10px;
}
.contact-block .txt input{
	float:left;
	border:0;
	background:none;
	width: 380px;
	height: 17px;
	color:#000;
	padding:13px 0;
	font:13px/17px Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.contact-block .textarea{
	background:url(../images/bg-textarea.gif) no-repeat;
	overflow:hidden;
	width: 545px;
	height: 115px;
	padding:10px;
}
.contact-block .textarea textarea{
	float:left;
	width: 545px;
	height: 115px;
	max-width: 545px;
	max-height: 115px;
	min-width: 545px;
	min-height: 115px;
	background:none;
	border:0;
	color:#000;
	overflow:auto;
	font:13px/17px Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.contact-block .btn-holder{
	overflow:hidden;
	 padding: 18px 1px 0 0;
	 width:564px;
}
.contact-block .btn-post{
	float:right;
	background:url(../images/btn-post.gif) no-repeat;
	width: 131px;
	height: 45px;
	border:0;
	padding:0 0 5px;
	color:#fff;
	cursor:pointer;
	font:bold italic 24px/26px Arial, Helvetica, sans-serif;
}
.contact-column{
	float:left;
	width:328px;
	margin: 6px 0 0;
	background:url(../images/bg-contact-column.gif) repeat-y 100% 0;
}
.contact-column .box-out{background:url(../images/bg-contact-column.gif) no-repeat;}
.contact-column .box-in{
	padding: 0 3px 29px;
	width:322px;
	background:url(../images/bg-contact-column.gif) no-repeat -328px 100%;
}
.contact-column h3{
	padding:13px 0 12px 21px;
	background:url(../images/bg-decor.gif) repeat-x 0 100%;
	color:#525252;
	margin:0 0 15px;
	font:bold italic 18px/21px Arial, Helvetica, sans-serif;
}
.contact-column .frame{padding:0 18px 0 20px;}
.contact-column .cell{padding:0 0 25px;}
.contact-column h4{
	color:#d21000;
	font:bold 12px/15px Arial, Helvetica, sans-serif;
}
.contact-column p{font:12px/20px Arial, Helvetica, sans-serif;}
.contact-column .map-box{
	width:100%;
	padding:0 0 27px;
}
.contact-column .map-box .btn{
	width:100%;
	overflow:hidden;
}
.contact-column .map-box .map{margin:0 0 30px;}
.contact-column .map-box .map img{display:block;}
.contact-column .map-box .btn a{
	float:right;
	color:#313131;
	width: 97px;
	height: 18px;
	text-align:center;
	padding:2px 0 0;
	font:12px/15px Arial, Helvetica, sans-serif;
}
.contact-column .address-block{
	padding:0 9px;
	line-height:20px;
}
.contact-column address{font-style:normal;}
.contact-column address span{display:block;}
/* main end */
/* footer start */
#footer{
	color:#fff!important;
	padding:19px 250px 28px 4px;
	position:relative;
	/*margin:-10px 0 0;*/
	width:779px;
	z-index:15;
	background:url(../images/bg-footer.gif) no-repeat 0 0;
	clear:both;
}
#footer .car{
	/*background:url(images/bg-car-footer.png) no-repeat;*/
	background:url(../images/bg-car-footer.gif) no-repeat;
	width: 387px;
	position:absolute;
	height: 162px;
	text-indent:-9999px;
	overflow:hidden;
	top: -45px;
	right: -143px;
}
/* footer end */
/* wrapper end  */


#pricing {
    width: 70%;
    color: white;
    text-align: center;
    margin-left: 15%;
    //border-collapse: collapse;
    border-spacing:2px;
    font-size: 20px;
    line-height: 30px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.fullday
{
    padding-top:0px;
}

#pricing th{
    background-color: #333;
    margin-top:20px;
}

#pricing td{
    background-color: #B70304;

}

.testimonial {
	padding:10px;
	margin-bottom:5px;
	background:#f0f0f0;
}

.testimonial-even {
	background:#FFF;
	border-top:none;

}

.slideshow-images, .slideshow-thumbs{
	clear:both;
	display:block;
}
.slideshow-images{
	margin-top:20px;
	position:relative;
	width:600px;
	height:400px;
	overflow:hidden;
}
.slideshow-images .slideshow-image {
	position:absolute;
	top:0px;
	left:0px;
}
.slideshow-image {
	width:600px;
	height:400px;
}
.slideshow-thumbs .current {
	border:5px solid #f90;
}
.slideshow-thumb{
	float:left;
	margin-right: 20px;
	margin-top:20px;
	width:70px;
	height:50px;
	border:5px solid #CCC;
}

.tour-block {
	background:#f0f0f0;
}
.tour-block .top-info {
	padding:10px;

}
.tour-block .price{
	font-weight:bold;
	font-size:18px;
	color:#333;
}

.tour-block .gallery {

	width:500px;
	margin:0px auto;
	padding:0px;
	padding-top:20px;
}
.tour-block .gallery .end-row {
	margin-right:0px!important;
}
.tour-block .gallery .img {
	width:236px;
	height:204px;
	background:url(../images/bag-tour.gif) no-repeat 0 0;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	text-align:center;
}
.tour-block .gallery .img img {
	margin-top:10px;
}
.tour-block .gallery .img .caption {

}
.tour-block .gallery .img .caption .blue-b {
	background:url(../images/blue-left.gif) no-repeat 0 0;
	padding:6px 7px;
}

/*********pages with tours main navi padding change***************/
.tours-menu li {
	padding-left:8px!important;
	padding-right:8px!important;
}
.tours-menu li.has-submenu {
	position:relative;
}
.tours-menu li.has-submenu:hover ul.submenu{
	display:block;
}
.tours-menu li.has-submenu:hover ul.submenu a{
	color:#fff;
}

.tours-menu  ul.submenu {
	list-style-type: none;
	background:#f0f0f0;
	border-bottom:5px solid #F75D0A;
	width:250px;
	position:absolute;
	top:42px;
	left:2px;
	padding:10px;
	z-index:300;
	display:none;

}
.tours-menu  ul.submenu li,
.tours-menu  ul.submenu li a {
	display:block;
	background:none!important;
	clear:both;
	width:230px!important;
	color:#333!important;
}
.tours-menu  ul.submenu li a {
	width:210px!important;
}
.tours-menu  ul.submenu li {
	border-bottom:1px dotted #ccc;
}

.tours-menu  ul.submenu li a {
	padding:5px 5px;
	color:#fff;
	font-size:14px;
}
.tours-menu  ul.submenu li a:hover {
	text-decoration:none;
	color:#fff!important;
	background:#F75D0A!important;
}

/******************* banners*******************************/
#banner {
	display:block;
	clear:both;
	padding:20px 10px;
	background:#f0f0f0;
	border: 3px solid #e30;
  border-radius: 5px;
	position:fixed;
	bottom:0px;
	z-index:10000;
	visibility:hidden;
}

#banner ul{
  list-style: disc outside none;
  padding-left: 40px;
}

#banner ol{
  list-style: decimal outside none;
  padding-left: 40px;
}

#banner img{
  width: 100%;
  border-radius: 5px;
}

#banner a{
  color: inherit;
  font-size: inherit;
}

#banner .banner-btn{
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #EE3300;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  left:0;
  bottom:0;
  margin: 0 auto;
  width:100px;
  text-align:center;
}

#banner-close-btn {
	position:absolute;
	right:-5px;
	top:-5px;
}

.tour-category {
	padding:10px;
	border-bottom:5px solid #ccc;
	margin-bottom:10px;
	border-bottom:none;
	clear:both;
	margin-right:20px;
	text-align: justify;

}
.tour-category.even {
	background:#f0f0f0;
}
.tour-category .title {
    font: normal bold 32px/35px Arial,Helvetica,sans-serif;
	padding-bottom:10px;
	color:#333;
}
.tour-category .tour-left {
	width:220px;
	height:120px;
	border:1px dotted #f0f0f0;
	float:left;
	margin-right:20px;
}
.tour-category .tour-right {
	width:400px;
	float:left;
}
.tour-category .intro {
	margin-bottom:10px;
}
.tour-category .cat-image {

	width:220px;
	height:120px;
}
.tour-category .view-tours-btn {
	display:block;
	background:#F75D0A;
	padding:10px;
	border-left:10px solid #333;
	padding-left:10px;
	margin-bottom:10px;
	float:left; clear:both;
	color:#fff!important;
}
.tour-category.last {
	border-bottom:none;
}

.tour {
	padding:10px;
	margin-right:20px;
	border-bottom:5px solid #ccc;
	margin-bottom:10px;
	/*border-bottom:none;*/
	clear:both;
	padding-bottom:0px;
}
.tour .title {
    font: normal bold 32px/35px Arial,Helvetica,sans-serif;
	padding-bottom:10px;
	color:#333;
}
.tour .intro {
	margin-bottom:15px;
	text-align: justify;
}
.tour .tour-box {
	margin-bottom:10px;
	text-align: justify;
	clear:both;
}
.tour .tour-box img {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.tour.last {
	border-bottom:none;
}
.tour.odd {
	background:#f0f0f0;
}
.tours-cat-navi-container {
	margin-bottom:20px;
	padding:20px;
	background:#F75D0A;
}

.tours-cat-navi-container h2 {
	 font: normal bold 30px/33px Arial,Helvetica,sans-serif;
	padding-bottom:10px;
	color:#000;
}

.tours-cat-navi-container ul {
	list-style-type: none;
}
.tours-cat-navi-container ul li,
.tours-cat-navi-container ul li a {
	display:block;
}
.tours-cat-navi-container ul li {
	border-bottom:1px dotted #fff;
}

.tours-cat-navi-container ul li a {
	padding:10px 5px;
	color:#fff;
	font-size:14px;
}
.tours-cat-navi-container ul li a:hover {
	text-decoration:none;
	color:#000;
}

#content a {
	color:#000000;
}
#lhnChatButton {
	float:left;
	position:absolute;
	z-index:301;
	right:450px;
	left:550px;
	top:15px;
}
