@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(../fonts/oxygen.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

html, body#body-wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    padding: 0;
    background-color: #6E0D04;
    color: white;
}

#body-wrapper a{
  color: #059fb8;
  text-decoration: none;
}
#body-wrapper a:hover{
  color: #16C5E2;
  text-decoration: none;
}

#body-wrapper .navbar a{
  color: white;
  text-decoration: none;
}
#body-wrapper .navbar a.loginlogo{
  color:#059FB8
}

/*/////////////////Bootstrap overrides/////////*/

.page-block-content .input-append.date .add-on i{
  display: inline-block;
  color:#059fb8;
  font-size: 1.5em;
}
.page-block-content .input-append.date .add-on i:hover{
  color:#16C5E2;
}

.displayN.visible-xs{
  display: none !important;
}

/* ////////////////jcarousel overrides///////*/

.home-right .jcarousel-pagination a{
  margin-right: 10px;
}

/*//////////////// GENERAL //////////////////*/

.post-form-reply{
  display: none;
  background-color:#059fb8;
  padding: 10px;
  font-size: 20px;
  color: white;
  position: absolute;
  left:0;
  right:0;
  top: 50px;
  margin: auto;
  height: 50px;
  border-radius: 10px;
  z-index: 9999;
  width: 500px;
  text-align: center;
}

.full-height{
  height: 100%
}

.full-width{
  width: 100%;
}

.inline-block{
  display: inline-block;
}

.vertical-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vertical-align{
  vertical-align: middle;
}

.verticle-align-top{
  vertical-align: top;
}

.txtR{
  text-align: right;
}

.txtC{
  text-align: center;
}

.dotunderline{
    border-bottom: 1px dotted #FFFFFF;
    text-decoration: none;
}

.font28{
  font-size:28px !important;
}


.marginTopNeg5{
  margin-top:-5px;
}

.marginTop0{
  margin-top:0px;
}

.marginTop10{
  margin-top:10px;
}

.marginTop20{
  margin-top:20px;
}

.marginTop30{
  margin-top:30px;
}

.marginBtm0{
  margin-bottom:0px;
}


.marginBtm10{
  margin-bottom:10px;
}

.marginBtm20{
  margin-bottom:20px;
}

.marginBtm30{
  margin-bottom:30px;
}

.marginRt5{
  margin-right:5px;
}

.marginRt10{
  margin-right:10px;
}

.marginRt20{
  margin-right:20px;
}

.marginRt30{
  margin-right:30px;
}

.marginLt10{
  margin-left:10px;
}

.marginLt20{
  margin-left:20px;
}

.marginLt30{
  margin-left:30px;
}

.paddingBtm10{
  padding-bottom: 10px;
}

.paddingBtm20{
  padding-bottom: 20px;
}

.paddingBtm30{
  padding-bottom: 30px;
}

.paddingTop10{
  padding-top: 10px;

}
.paddingTop20{
  padding-top: 20px;
}
.paddingTop30{
  padding-top: 30px;
}

.displayN{
  display:none;
}

.display_none{
  display: none;
}

.displayInlineBlock{
  display: inline-block;
}

.fa-spacing{
  margin: 2px 1px;
}

.bold-txt{
  font-weight: bold;
}

.unimportant-links{
  color:#16c5e2;
  font-size: 24px;
}

.page-block select.sm-font-select{
  font-size: 11px;
  padding: 7px 0px;
}

#body-wrapper .unimportant-links a:hover{
  text-decoration: underline;
}
/*//////////////// EO GENERAL //////////////////*/
/*//////////////// HEADER //////////////////*/

header{
  color: white;
  position: relative;
  min-height: 10%;
  height: 110px;
  border-bottom:5px solid #059FB8;
}

header .container{
  background: url("../images/top-highlight1.png") no-repeat scroll 100% 100%;
}

header .full-height > div{
  height:inherit;
}

header .container{
  position: relative;
  height:100%;
}

header #top-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

header #top-nav ul{
  margin-bottom: 0px;
}

header #top-nav li.active{
  background-color:#049FB8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header ul{
  list-style: none;
  float:right;
  margin-top: 20px;
  padding: 0;
}

header #top-nav ul li{
  float: left;
  margin-right: 1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  min-width: 90px;
  border: 1px solid transparent;
}
header #top-nav ul li a{
  padding: 5px 7px;
  color: white;
  font-size: 14px;
  text-transform:uppercase;
  font-weight: bold;
  display:block;
}

header #top-nav ul li.current-menu-item{
  border: 1px solid #059FB8;
  background-color: #059FB8;
}

.has-submenu{
  position: relative;
}

.mobile-menu-links .has-submenu ul.submenu {
  position: relative;
  width:100%;
  background-color:inherit;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.mobile-menu-links li a{
  border-bottom: 1px solid white;
  padding: 5px 0;
  display: block;
}

.has-submenu ul.submenu {
  list-style-type: none;
  width: 250px;
  position: absolute;
  top: 10px;
  z-index: 300;
  display: none;
  background-color:#059fb8;
}

.has-submenu ul.submenu li{
  width: 100%;
}

header #top-nav .has-submenu ul.submenu li a{
  text-align:left;
  padding: 10px;
}

header #top-nav .has-submenu ul.submenu li a:hover{
  background-color: white;
  color: #059fb8;
}

.has-submenu:hover ul.submenu{
  display:block;
}

.has-submenu:hover ul.submenu:hover{
  display:block;
}

header #top-nav ul li:hover{
  border: 1px solid #059FB8;
  background-color: #059FB8;
}

header .logo a{
  display: inline-block;
  vertical-align: middle;
}

header .logo img{
  width:100%;
}

header .loginlogo {
  background-color: #FFFFFF;
  border-radius:10px;
  padding:6px;
  cursor:pointer;
}

header .loginlogo i.plus-size{
  font-size: 1.5em;
}

header #mobile-hamburger{
  font-size: 30px;
  text-align: right;
}
header #mobile-hamburger ul{
  font-size:12px;
  padding:0;
  margin:0;
}

header #mobile-hamburger ul.corner-nav li{
  float:none;
  margin: 0 0 10px;
  text-align:left;
}

header #mobile-hamburger-menu{
  position: absolute;
  top: 0;
  left:0;
  background-color:#6e0d04;
  z-index:9999;
  width: 100%;
}

header #mobile-hamburger-menu ul{
  display:block;
  float:left;
}
header #mobile-hamburger-menu a{
  color: white;
  font-weight: bold;
}

header #mobile-hamburger-menu img{
  width: 50%
}

.mobile-header{
  text-transform: capitalize;
}

    /*float: right;*/
/*//////////////// EO HEADER //////////////////*/

/*/////////////////Datepicker//////////////////*/

body#body-wrapper .datepicker{
  color: #333;
}

/*///////////////// Body //////////////////////*/
.main-body{
  min-height: 79%;
  padding-bottom: 70px;
  position: relative;
}

.page-block{
  letter-spacing: 0.02em;
  box-shadow: 5px 5px 5px #333333;
  position: relative;
  margin: 20px 0;
  /*margin: 20px 0; ORIGINAL*/
}

.page-block .page-block-first{
  letter-spacing: -1px;
  box-shadow: 5px 5px 5px #333333;
  position: relative;
  margin: 30px 0;
  /*margin: 20px 0; ORIGINAL*/
}

.page-block.page-block-first-home{
  margin-top: 20px;
}


.page-block h3{
  text-align:center;
  background-color:#2F5C8C;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
}

.page-block h2{
  text-align:center;
  background-color:#2F5C8C;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
}

.page-block.homepage-main{
  margin-top: 0px;
}
.page-block.homepage-main h3{
  text-align:center;
  background-color:#059FB8;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
}
.page-block .page-block-content img.sidebar-booking-nla{
  width:100%;
  display:block;
  margin: 0 auto;
}


.page-block .page-block-content{
  background-color: white;
  color: #333333;
  padding: 15px 30px 30px;
  font-size: 16px;
}
.sidebar .page-block .page-block-content{
  padding: 15px 15px 30px;
}

.page-block .page-block-content .pay-block{
  text-align: center;
}

.page-block .page-block-content .pay-block img, .page-block .page-block-content .page-block-sub-content .pay-block img{
  width: auto;
  margin-bottom : 5px;
  margin-right: 1%;
  height: 30px;
  padding: 2px;
}

.page-block .page-block-content input{
  margin-bottom: 8px;
}

.page-block .page-block-content .page-block-sub-content .pay-block{
  text-align: left;
}

.page-block .page-block-content .page-block-sub-content img{
  width: 100%;
}

.page-block .page-block-content h3{
  text-align: left;
  color: #2f5c8c;
  padding-top: 2px;
}
/*.page-block .page-block-content .page-block-sub-content p{
  margin-bottom: 20px;
}*/

.page-block .page-block-content .page-block-sub-content p.sub-header{
  font-size: 16px;
  font-weight: bold;
}

.page-block .page-block-content .page-block-sub-content p.name{
  margin-bottom: 0;
}

.page-block-content h3.sub-header{
  background-color: white;
  color: #2f5c8c;
  font-size: 22px;
  text-align: left;
  padding-top: 0;
}

.page-block .page-block-content .page-block-sub-content input{
  width: 350px;
  display: block;
}

.page-block .page-block-content .page-block-sub-content label{
  display: block;
}

.page-block .page-block-content .page-block-sub-content textarea{
  width: 100%;
}

.page-block-first{
  margin-top: 0px;
}

.page-block .page-block-content .page-block-sub-content{
  border-bottom: 1px solid #EBEBEB;
  margin-top:15px;
  padding-bottom: 15px;
}

.page-block .page-block-content div.page-block-sub-content:last-child{
  border-bottom: 0px;
  padding-bottom: 0px;
}

.page-block .page-block-content .page-block-car img{
  width: 80px;
  margin-right: 10px;
}

.sidebar .page-block .page-block-content .page-block-car img{
  max-width: 50px;
}

.page-block .page-block-content img.booking-nla{
  width: 45%;
  display:inline-block;
  margin: 0 2%;
}

.page-block .page-block-content p, .page-block .page-block-content{
  font-size: 14px;
}

.page-block .page-block-fleet-list{
  list-style: none;
  padding: 0;
}

.page-block .page-block-fleet-list a{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.page-block .page-block-fleet-list li{
  min-height: 40px;
}

.sidebar .page-block .page-block-fleet-list{
  padding: 0px;
}
.sidebar .page-block .page-block-fleet-list a{
  font-size: 12px;
}
.sidebar .page-block .page-block-fleet-list li{
  padding: 0px;
  margin: 0px;
}

.sidebar-first .page-block{
  margin-top: 0px;
}
.sidebar .sidebar-first .page-block .page-block-content {
    height: auto;
}
/*
body#body-wrapper .datepicker.dropdown-menu{
  margin-left: -215px !important;
}*/

.page-block .page-block-content h4{
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 0px;
}

.child_tab_selector_container ul{
  padding: 0px;
  list-style: none;
  height: 45px;
}

.child_tab_selector_container ul li{
  width: 24%;
  margin-right: 1%;
  float: left;
}

#body-wrapper .page-child-button{
  padding: 10px;
  background-color:#059FB8;
  color: white;
  height: 40px;
  text-align:center;
  text-transform:uppercase;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 5px 5px 5px #333333;
  border: 0px;
  cursor: pointer;
  display: block;
}

#body-wrapper .page-block .page-block-book-now-button{
  padding: 5px 10px;
  background-color:#16c5e2;
  color: white;
  margin: 0 auto;
  text-align:center;
  text-transform:uppercase;
  font-size: 10px;
  font-weight: bold;
  border: 0px;
  display: inline-block;
}

#body-wrapper .page-block .page-block-button{
  padding: 10px;
  background-color:#059FB8;
  position: absolute;
  color: white;
  bottom: -20px;
  height: 40px;
  left:0;
  right:0;
  margin: 0 auto;
  width: 230px;
  text-align:center;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 5px 5px 5px #333333;
  border: 0px;
}

#body-wrapper .page-block .page-block-long-button{
  padding: 10px;
  background-color:#059FB8;
  color: white;
  height: 40px;
  text-align:center;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  display: block;
}

#body-wrapper .page-block .page-block-button.services-button{
  left: -35px;
  top: -5px;
}

#body-wrapper .page-block .page-block-innerbutton{
  padding: 10px 30px 10px 30px;
  background-color:#059FB8;
  color: white;
  bottom: -20px;
  height: 40px;
  width: auto;
  /*left:0;
  right:0;*/
  /*margin: 0 auto;*/
  min-width: 150px;
  text-align:center;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  display: inline-block;
}

#body-wrapper .page-block form .page-block-innerbutton{
  margin: 10px 0 0 0 ;
}

#body-wrapper .page-block form #contact-submit.page-block-innerbutton{
  margin-top: 25px;
}

#body-wrapper .page-block .page-block-innerbutton.fleet{
  margin-top: 15px;
  width: 100%;
  padding: 12px 0;
  font-size: 12px;
}


#body-wrapper .page-block .page-block-button:hover, #body-wrapper .page-block .page-block-innerbutton:hover, #body-wrapper .page-block .page-block-long-button:hover, #body-wrapper .page-child-button:hover, #body-wrapper .page-child-button.active_child{
  background-color: #16c5e2;
}

.home-left{
  position:relative;
  height:100%;
  padding:0 0 0 15px !important;
}

.home-left label{
  width:100%;
}

.home-right{
  position:relative;
  height:100%;
  padding:0 15px 0 0px !important;
}

.home-right .page-block.homepage-main{
  overflow: hidden;
  height: 450px;
}

.home-left form {
  box-shadow: 5px 5px 5px #333333;

}

.home-right img{
  /*width:100%;
  height: 575px;*/
  /*max-height: 555px;*/
  box-shadow: 5px 5px 5px #333333;
}

.home-right-txt{
  position:absolute;
  top: 0;
  width:100%;
  left:0;
/*  background-color:rgba(127,127,127,0.7);*/
  background-color:rgba(51,51,51,0.7);
  padding:0 60px 0 20px;
}

.home-right-mobile-txt h1{
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;


}

.home-right-mobile-txt h2{
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  background-color: none;
}

.home-right-txt h1, .home-right-txt h2{
  font-weight: bold;
  text-transform: uppercase;
}

.home-right-txt h1{
  font-size: 34px;
}

.page-block .home-right-txt h2{
  font-size: 28px;
  background-color: transparent;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.page-block.homepage-services-txt h4{
  display:inline-block;
  margin-bottom:0px;
  margin-top: 5px;

}

.page-block.homepage-services-txt p{
  display:inline;
 }


/*//////// Rates ///////*/

.page-block .page-block-sub-content table{
  width: 100%;
  text-align: center;
}

.page-block .page-block-content .page-block-sub-content table p, .page-block .page-block-sub-content table th{
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}
.page-block .page-block-sub-content table th{
  background-color:#FFFCDB;
}

.page-block .page-block-sub-content table th,.page-block .page-block-sub-content table td, .page-block .page-block-sub-content table{
  border: 1px solid #ebebeb;
}


/*///////// Services ////////////*/

.page-block-content.service img{
  width: 100%;
}

.page-block-content.service p{
  text-align: justify;
}

/*//////////////// EO Body //////////////////*/

/*//////////// Banner ////////////////////// */

#banner {
  display: block;
  clear: both;
  background: #f0f0f0;
  border: 3px solid #e30;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  visibility: hidden;
  padding: 20px 10px;
  color:#333333;
  font-size: 12px;
  max-width:100%;
}

#banner h3{
  margin: 0px;
}

#banner ul{
  list-style: disc outside none;
  padding-left: 40px;
}

#banner ol{
  list-style: decimal outside none;
  padding-left: 40px;
}

#banner img{
  width: 100%;
  border-radius: 5px;
}

#banner a{
  color: inherit;
  font-size: inherit;
}

#banner .banner-btn{
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #EE3300;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  left:0;
  bottom:0;
  margin: 0 auto;
  width:100px;
  text-align:center;
}

#banner-close-btn {
  position: absolute;
  right: -5px;
  top: -5px
}

.banner-left-half{
  display: inline-block;
  float: left;
  padding: 0 5px;
  height: 120px;
  width: 220px;
  position: relative;
}

.banner-right-half{
  display: inline-block;
  float: left;
  padding: 0 5px;
  height: 120px;
  width: auto;
  position: relative;
}

.banner-right-half h3{
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
}
/*////////////////// Sidebar /////////////////*/

.showForDayhire, .page-block.booking label.showForDayhire{
  display: none;
}

.sidebar .page-block h3,.sidebar .booking.page-block h3{
  background-color:#6C6C75;
}

.page-block.booking h3{
  background-color:#059FB8;
}

.page-block.booking label{
  text-transform: capitalize;
  display:block;
}
.page-block.booking textarea{
  width: 100%;
}
.page-block.booking .page-block-content{
  height: 410px;
  padding: 15px 15px 30px;
}

.page-block input, .page-block select, .page-block textarea{
  border-radius: 0;
  border: 0px;
  padding: 5px;
  background-color:#EBEBEB;
}

.page-block.booking input.datepicker-field{
  width: 100%;
  margin-right:5px;
}

.sidebar .page-block.booking input.datepicker-field{
  width: 87%;
}

.page-block.booking .datepicker-calendar-img{
  font-size: 24px;
}

.page-block.booking .booking-date .booking-date-left{
  padding-right: 2px;
}

.page-block.booking .booking-date .booking-date-right{
  padding-left: 2px;
}

.sidebar .page-block >img{
  width: 100%;
}

.sidebar p{
  margin-bottom: 0;
}

.sidebar .page-block.testimonial img{
  width: 70px;
  height:50px;
  float: left;
  margin-right: 10px;
}

.sidebar .page-block .sidebar-testimonial-name{
  display: inline-block;
  margin-bottom:10px;
  max-width: 60%;
}

.sidebar .page-block .sidebar-testimonial-name p{
  margin: 0;
}

#body-wrapper .sidebar a.skype-call{
  background-color:#16C5E2;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 20px;
  border-radius: 20px;
  font-weight:bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#body-wrapper .contact-skype a.skype-call{
  background-color:#16C5E2;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 20px;
  border-radius: 20px;
  font-weight:bold;
  text-transform: uppercase;
  margin-bottom: 20px;

}

#body-wrapper .page-block-sub-content .contact-skype a.skype-call{
  margin-bottom: 5px;
}

#body-wrapper .contact-us-block i{
    display: inline-block;
}
#body-wrapper .contact-us-block p{
    display: inline-block;
}


#body-wrapper .contact-skype{
  margin-left: 25px;
}

#body-wrapper .email-us {
  color:#16C5E2;
}
#body-wrapper .email-us i {
  margin-right: 10px;
}


.sidebar .page-block.contact{
  text-align: center;
}

.sidebar .page-block.contact .phone{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  letter-spacing: -1px;
  margin-top: 20px;
}

.sidebar .page-block.contact .mail{
  font-size: 18px;
  margin: 20px 0;
  display: inline-block;
}
.sidebar .page-block .page-block-content.skype{
  padding-bottom: 20px;
}

/*//////////////// Footer //////////////////*/
footer{
  text-align:center;
}

footer .footer-top{
  margin-bottom:10px;
}

footer .footer-bottom{
  background-color: #2E2A2B;
  color: white;
  min-height: 10%;
}

footer .footer-bottom p{
  margin: 15px 0;
}

footer ul{
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
  border-bottom: 1px solid white;
}

footer ul li{
  padding: 13px 0;
  display: inline-block;
}

#body-wrapper footer ul li a{
  color: white;
  text-transform: uppercase;
  border-right: 1px solid white;
  padding: 0 20px;
}

#body-wrapper footer ul li:last-of-type a{
  border: 0;
}

/*//////////////// EO Footer //////////////////*/

h1.bannerlogo{
  color: #6E0D04;
  text-transform: uppercase;
  font-size: 30px;
}

h1.bannerlogo i{
  font-size: 30px;
  background-color: #6E0D04;
  color: white;
  margin-right:20px;
  border-radius:100%;
  padding:10px 0;
  width: 55px;
  text-align:center;
}

/*//////////// mobile menu //////////////////*/

#mobile-hamburger.expanded{
  display:block;
}

#mobile-hamburger-close{
  float:right;
  margin:10px;
  cursor: pointer;
}

/*///////////////// ADDED /////////////////*/

.bannerback{
  background-color: white;
}
.bannerback h1{
  margin:10px 0;
}

.page-block .page-block-content .page-block-icons {
text-align: right;
}

.page-block-content h3{
  color: inherit;
  background-color: transparent;
}

.page-block-content h3.vehicle-rates{
  color: #FFFFFF;
  background-color: #797981;
  text-align: center;
  padding-top: 10px;
}

.right-border{
  border-right: 0.5px solid #797981;
}

.bottom-border{
  border-bottom: 0.5px solid #797981;
}
.top-border{
  border-top: 0.5px solid #797981;
  /*margin-top: 20px;*/
  padding-top:20px;
}

.breadcrumbs{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.corner-nav li{
  list-style: none;
  float:left;
  margin-left:10px;
  color: white;
  font-weight: bold;
  /*letter-spacing: -0.5px*/
}
.corner-nav .underline li a{
    border-bottom: 1px dotted #FFFFFF;
    text-decoration: none;
}

.corner-nav .login li{
    background-color: #6e0d04;
    border-radius: 100%;
    color: white;
    font-size: 42px;
    margin-right: 20px;
    padding: 10px;

}
/*   Testimonials */

.testimonial-text{
  display: inline-block;
  max-width: 85%;
}

.page-block .page-block-content .page-block-testimonials img{
  width: 70px;
  height: 50px;
}

.page-block .page-block-content .page-block-testimonials img{
  float: left;
  margin: 0 15px 15px 0;
}

.page-block .page-block-content .page-block-testimonials .name{
  text-transform: uppercase;
}

.page-block .page-block-content select,.page-block .page-block-content input{
  width: 100%;
  margin-bottom: 8px
}
.page-block .page-block-content .service-time select{
  width: 31%;
}
.page-block .page-block-content .img-prev{
  max-width:140px;
  margin-right: 10px;
}

.page-block .page-block-content .vehicle-prev-list{
  margin-top:20px;
  margin-bottom: 20px;
}

.page-block .page-block-content .vehicle-prev-list ul{
  list-style: none;
  margin-bottom: 0;
}
.page-block .page-block-content .vehicle-prev-list ul li{
  float: left;
}

/* Fleet */

.fleet-rate{
  font-size: 28px;
}

.fleet-img{
  width:80%;
}

/* Vehicles */

.img-big{
  display: none;
  position:relative;
}

.page-block .page-block-content .page-block-sub-content .img-big img{
  width:600px;
  height:400px;
}

.img-big.active{
  display: block;
}

.img-prev img{
  width:130px;
  height:80px;
}
/*////////// Media Queries //////////////*/

@media screen and (max-width: 1200px) {
   #body-wrapper .page-block .page-block-button
  {
    font-size:15px;
    width:200px;
  }
  .home-right-txt h1 {
    font-size: 30px;
  }
  .home-right-txt h2 {
    font-size: 26px;
  }
/*  header ul{
    margin-top: 10px;
  }*/
  header #top-nav ul li a{
    font-size: 11px;
    padding:5px 5px 0;
  }
  header #top-nav ul li{
    min-width: 70px;
  }
/*  body#body-wrapper .datepicker.dropdown-menu {
    margin-left:-175px !important;
  }*/
  .page-block .page-block-content img.booking-nla{
    width: 45%;
    margin: 10px 2%;
  }

  #body-wrapper .page-block .page-block-long-button{
    font-size: 14px;
    padding: 10px 0px;
  }

  h1.bannerlogo{
    font-size: 26px;
  }

}
/*  body#body-wrapper .datepicker.dropdown-menu .sidebar{
    margin-left:-175px;
}*/
@media screen and (max-width: 992px) {

  header {
    height:auto;
  }
/*
  header .logo img {
    position: absolute;
    top: 5px;
    width: auto;
    z-index: 9999;
  }*/
  header .logo img {
    position: absolute;
    top: 25px;
    width: 200px;
    z-index: 9998;
}

/*  header #top-nav ul li a{
    font-size: 13px;
  }*/
  header #top-nav ul li{
    min-width:50px;
  }

  .home-left{
    padding-right: 15px !important;
  }

  body#body-wrapper .datepicker.dropdown-menu {
    left:0 !important;
    margin-left: 125px !important;
  }
  .page-block .page-block-content img.booking-nla {
      margin: 15px auto;
      width: 200px;
  }

  h1.bannerlogo{
    font-size: 20px;
  }

  h1.bannerlogo i{
    width: 40px;
    font-size: 20px;
    margin-right: 10px;
  }

  .page-block .page-block-content .page-block-sub-content img {
    display: block;
    margin-bottom: 10px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    max-width: 100%;
    width: auto;
  }
  .page-block.booking .page-block-content{
    height: 460px;
  }

  .page-block.booking .booking-date .booking-date-left{
    padding-right: 15px !important;
  }

  .page-block.booking .booking-date .booking-date-right{
    padding-left: 15px !important;
  }
  /*body#body-wrapper .datepicker.dropdown-menu .sidebar {
    margin-left: -570px;*/

/*  header #mobile-hamburger-menu img{
    margin-left: 20px;
    margin-top: 15px;

  }*/
/*   header .logo img{
    width:85%;
    margin-left: 10px;
    margin-top: 20px;

  }*/
  #body-wrapper .page-block.tour-block .page-block-innerbutton{
    font-size: 14px;
      width: 100%;
  }
  #body-wrapper .page-block .page-block-long-button{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  header{
    height: auto;
  }
  header .full-height{
    height: auto;
  }
  header .header-right{
    background: none;
  }
/*  }
   header #mobile-hamburger-menu img{
    margin-left: 20px;
    margin-top: 15px;*/

  /* header .logo img{
    width:85%;
    margin-left: 5px;
    margin-top: 25px;

  }*/
    header {
    height:auto;
  }

  header .logo img {
    position: relative;
    top: 10px;
    margin-bottom: 10px;
  }

  .page-block .page-block-content .page-block-sub-content img{
    /*margin: 0 auto 10px;*/
    display:block;
  }

  .fleet-rate{
    font-size: 20px;
  }

  #body-wrapper #mobile-hamburger .corner-nav.navbar{
  float:right;
  }

  #body-wrapper header #mobile-hamburger ul.corner-nav li{
     float:left;
     margin: 15px 0 0 10px !important;
     z-index: 9998;
  }

  body#body-wrapper .datepicker.dropdown-menu {
    margin-left: 25px !important;
  }
  .page-block .page-block-content img.booking-nla {
      margin: 15px auto;
      width: 160px;
  }

  .page-block .page-block-content p, .page-block .page-block-content p{
    font-size: 14px !important;
  }

  .page-block .page-block-content table, .page-block .page-block-content .page-block-sub-content table{
    max-width: 100% !important;
    font-size: 9px !important;
  }
   .page-block .page-block-content table{
     width: 100% !important;
   }

  .page-block.booking .booking-date .booking-date-left{
    padding-right: 15px !important;
  }

  .page-block.booking .booking-date .booking-date-right{
    padding-left: 15px !important;
  }

  .page-block .page-block-content .page-block-sub-content input{
    width: 100%;
  }

  .page-block.booking .page-block-content{
    height: 450px;
  }

  .page-block .page-block-content .page-block-sub-content .img-big img{
    max-width: 100%;
    height: auto;
  }

  .page-block .page-block-content table td,
  .page-block .page-block-content table th,
  .page-block .page-block-content table td p,
  .page-block .page-block-content table th p,
  .page-block .page-block-content table td span,
  .page-block .page-block-content table td span strong,
  .page-block .page-block-content table th span,
  .page-block .page-block-content table th span strong,
  .page-block .page-block-content table th p span,
  .page-block .page-block-content table td p span{
    font-size: 9px !important;
    width:auto !important;
  }
}

@media only screen and (max-width: 480px) {

  header {
    height:120px;
  }
  header .logo img {
    position: relative;
    top: 10px;
  }

  .page-block-fleet-list{
    padding: 0;
  }
  .page-block .fleet-rate{
    font-size: 15px;
  }

  .page-block .page-block-content .page-block-sub-content{
    margin: 15px 0;
  }

  .page-block .page-block-content .page-block-sub-content img{
    width: 100%;
  }

  .page-block .page-block-content .page-block-sub-content.page-block-testimonials img{
    width: auto;
  }

  .fleet-rate{
    font-size: 16px;
  }
  .fleet-img{
    margin-right: -20px;

  }

  .page-block .page-block-fleet-list a{
    font-size: 16px;
  }
 /* .page-block .page-block-content img.booking-nla
  {
    width:100%;
  }*/
  .page-block .page-block-content img.booking-nla {
      width: 50%;
  }
  .page-block .page-block-fleet-list a {
    font-size: 13px;
  }
  .page-block.thin .page-block-content {
    min-height: 500px;
  }

  .page-block .page-block-content{
    padding: 15px;
  }
  #body-wrapper .page-block .page-block-button {
    font-size: 14px;
  }
  #body-wrapper #mobile-hamburger .corner-nav.navbar{
    float:left;
  }

  header #mobile-hamburger ul.corner-nav li{
    float:left;
    margin: 0 0 0 10px !important;
  }

  header #mobile-hamburger ul {
    font-size: 11px;
  }

  .page-block .page-block-content .page-block-testimonials {
    margin-bottom: 20px;
  }

  footer .footer-bottom p {
    padding-left: 15px;
    padding-right: 15px;
  }

  #body-wrapper .page-block .page-block-long-button{
    font-size: 12px;
  }

  .child_tab_selector_container ul{
    height: 80px;
  }

  .child_tab_selector_container ul li{
    width: 49%;
    margin-bottom: 5px;
  }

  #body-wrapper .page-block .page-block-innerbutton.fleet{
    font-size: 10px;
    padding: 7px 0;
  }

  #banner .banner-btn{
    width: auto;
  }

  #banner .banner-left-half, #banner .banner-right-half{
    width: 100% !important;
    height: auto;
  }

  #banner .banner-left-half img{
    display: none;
  }

  #banner .banner-right-half table{
    max-width: 100%;
  }
}

/*added by marc*/
#btn-get-quote-desk{
    display: inline;         
}

#btn-get-quote-mobile{
    display: none;
}
.modal-header{
   background-color: #059FB8;
   padding: 10px;
}

.modal-footer button{
    background-color: #059FB8;
    color: #ffffff;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 2px;
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 10px;
    width: 125px;
    box-shadow: 5px 5px 5px #333333;
}
.modal-footer button:hover{
    opacity: 0.9;
}
/* car class */
.myModal-body{
overflow-y: auto;
text-align: center;
}
.myModal-body > .row{
    margin: 10px auto;
}
i.close{
float: right;
cursor: pointer;
padding: 0;
color: #ffffff;
}
.car-class{
color: #00b0f0;
border: solid 1px #00b0f0;
border-radius: 6px;
}
.car-class:hover{
cursor: pointer;
color: #ffffff;
border: solid 1px #00b0f0;
}
.car-class:hover .car-right{
background-color: #0E7CA0;
}
.car-right{
    font-family: Calibri, Sans-serif;
    border-radius: 0 4px 4px 0;
}
span.car-service-type{
color: #ffffff;
font-size: 16px;
font-weight: bold;
}
.car-clicked{
color: #ffffff;
background-color: #00b0f0;
}
.hidden{
display: none;
}
.car-class .col-xs-5{
    padding: 0;
}

@media (max-width: 320px) {
    .car-right{
        padding-top: 10px;
        font-size: 11px;
        height: 110px;
    }
    .car-class img{
        width: 110px;
        height: 110px;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .car-right{
        font-size: 12px;
        height: 120px;
        padding-top: 10px;
    }
    .car-class img{
        width: 140px;
        height: 120px;
        padding-right: 3px;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    .car-right{
        font-size: 14px;
        height: 120px;
        padding-top: 20px;
    }
    .car-class img{
        width: 140px;
        height: 120px;
        padding-right: 3px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .car-right{
        padding-top: 26px;
        height: 150px;
        font-size: 18px;
    }
    .car-class img{
        width: 200px;
        height: 150px;
    }
}
@media (max-width: 768px) {
    #btn-get-quote-desk{
        display: none;
    }

    #btn-get-quote-mobile{
        display: block;
    }
    .visible-xs h1{ font-size: 18px; margin-top: 5px; }
    .visible-xs h2{ font-size: 15px; margin-top: 5px; }
    .visible-xs{ display: none; }
    #myModal-quote .modal-dialog{
        overflow-y: initial !important;
    }
    #myModal-quote .modal-body{
        height: 390px; 
        overflow-y: auto;
    } 
}
