*,html {
	margin:0px;
	padding:0px;
}
body{
	padding:0;
	font-size:12px;
	background:#CCC;
	color:#333;
	margin:0;
	font-family:Arial, Tahoma, Verdana, Serif;
}

img {
	border:none;
}
a, a:link, a:visited {
	
	text-decoration:none;
	color:#0099Cc;
	font-weight:bold;
}
a:hover {
	color:#f90;
}

.hover td{
	background:#fc3!important;
}
.link-btn {
	
	padding:10px 15px;
	border:1px solid #f00;
	background:#c30;
	text-align:center;
	color:#fff;
	font-weight:bold;
	margin:2px 5px;
	text-decoration:none;
	        
}
.link-btn:hover {
	background:#f30;
}

#info-bar {
	background:#FFCC00;
	padding:10px 10px 10px 10px;
	margin:0px 0px 10px;
	clear:both;
	color:#333;
	width:850px;
}
.info {
	background:#FFCC00;
	margin:10px;
	color:#333;
}
#q {
	width:300px;
	background:#fff;
	border:1px solid #ccc;
	padding:5px;
}

ul.info-list {
	color:#333;
	font-size:14px;
	padding:0px;
	margin:0px;
	list-style-type:none;
}
ul.info-list li {
	display:block;
	background:#f0f0f0;
	padding:10px;
	margin-bottom:5px;
	
}
ul.info-list li span {
	font-weight:bold;
}
.column {
	width:300px;
	margin:0px 10px 10px 0px;
	padding:5px;
}
.column-220 {
	width:220px;
}
.column-450 {
	width:450px!important;
}
.column-last {
	margin-right:0px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.spacer {
	clear:both;
	width:10px;
	height:1px;
}
.search-form {
	float:left;
}

.del-btn {
	background:#c30;
	color:#fff;
	font-weight:bold;
	padding:5px;
	margin:auto 5px;
	text-decoration:none;
}
.del-btn:hover {
	background:#f30;
}
.row {
	margin-bottom:20px;
}
.clear{
	display:block;
	clear:both;
}
.column-300 {
	width:350px;
	margin-right:20px;
}
.grid-title {
	font-variant:small-caps;
	padding:10px 0px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-bottom:5px;
}

.inner-spacer {
	padding:10px;
	
}
.popup-title {
	background:#333;
	color:#fff;
	font-weight:bold;
	padding:10px 5px;
	font-size:14px;
}
.box {
	/*border:1px solid #ccc;*/
}
.row {
	margin-bottom:20px;
	clear:both;
}
.big {
	font-size:30px;
}

.info-bar {
	background:#FFCC00 url(../assets/info-icon.gif) no-repeat 5px 50%;
	padding:10px 10px 10px 30px;
	margin:0px 0px 10px;
	clear:both;
	color:#333;
}

.global-ajax-info {
	display:none;
	margin:0px;
	padding:0px;
	float:right;
}
.ajax-loader {
	background-image:url(../../images/admin/big-ajax-loader.gif);
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.green-txt {
	color:#9c0;
}
.red-txt {
	color:#e30;
}
.b {
	font-weight:bold;
}

.new-insert{
	background:#CCCC00;
}
/******************************************************************************/
/******************************* Login Page ***********************************/
/******************************************************************************/
.login-container {
	width:300px;
	margin:110px auto 20px;
}
/******************************************************************************/
/******************************* Paginators ***********************************/
/******************************************************************************/

.paginator {
	display:block;
	margin:0px auto 10px;
	clear:both;
	border-top:4px solid #0094C6;
	padding:10px 0px;
}
.paginator  a {
	font-size:12px;
	color:#333;
	text-decoration:none;
	font-weight:bold;
	
}
.paginator  a:hover {
	color:#000;
}
.paginator span {
	color:#FFF;
	background:#0094C6;
}
.paginator span.disabled {
	color:#999;
	background:none;
}
.paginator span,
.paginator a {
	display:inline;
	padding:5px;
}

#adminp-container{

	background:#CCC;
	font-family:Tahom, Arial, Helvetica, sans-serif;
	min-width:1150px;

}
#adminp-container #section-container {
	padding:10px;
}
#adminp-container .logo{
	
	margin:5px;
}
#adminp-container #navi-container, .navi-container {
	color:#000;
	padding:10px;
	margin:0;
	color:#FFF;
	background:#000;
	border-bottom:5px solid #333;
}
#adminp-container #navi-container h1 {
	display:block;
	clear:both;
	padding:0;
	margin:10px 10px 10px;
	font-variant:small-caps;
	font-size:20px;
}
#adminp-container #navi-container h1 span {
	color:#f60;
}

#adminp-container #navi-container ul#navi, .navi-container ul.navi  {
	display:block;
	padding:0;
	margin:20px auto 0px;
	list-style-type:none;
}
#adminp-container #navi-container ul#navi li, .navi-container ul.navi li{
	display:inline;
}
#adminp-container #navi-container ul#navi li a, .navi-container ul.navi li a{
	padding:10px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:#333;
}
#adminp-container #navi-container ul#navi li a:hover, .navi-container ul.navi li a:hover {
	background:#666;
}
#adminp-container #navi-container ul#navi li a.selected, .navi-container ul.navi li a.selected {
	color:#666!important;
	background:#CCC!important;
	border-bottom:5px solid #ccc;
}
#adminp-container #navi-container ul#navi li a.logout {
	color:#fff;
	background:#f30;
}
#adminp-container #navi-container ul#navi li a.logout:hover {
	background:#c30;
}
#adminp-container #navi-container ul#navi li a.account {
	color:#fff;
	background:#f60;
}
#adminp-container #navi-container ul#navi li a.account:hover {
	background:#f60;
}
#adminp-container form {
	
}
#adminp-container form label{
	display:block;
	font-weight:bold;
	margin-bottom:5px;
	clear:both;
}

#adminp-container form label.check-label{
  display: inline;
  margin-right: 5px;
}

#adminp-container form input.check-input{
  margin-right: 20px;
  margin-top: 5px;
}

#adminp-container form legend {

}
#adminp-container .adminMsg,
#adminp-container .adminMsgErr  {

}
#adminp-container .adminMsgErr {
	background:#F00;
}
#adminp-container form .text {

}
#adminp-container form fieldset {

}


/******************************************************************************/
/********************************* Error Pages ********************************/
/******************************************************************************/
.page-error {
	margin:0px 10px;
}
.page-error .error-code-container {
	padding:20px;
	background:#f30;
	color:#fff;
}
.page-error .error-code-container .error-code,
.page-error .error-code-container  .error-name {
	font-variant:small-caps;
	font-size:50px;
}
.page-error .error-code-container  .error-name {
	font-size:40px;
}

.page-error .error-message {
	
	font-size:15px;
}
.page-error .error-message span{
	font-size:20px;
	font-weight:bold;
	color:#333;
}

/**************************** login page *********************************************/
#login-form-container {
	
	width:350px;
	background:#f0f0f0;
	border:1px solid #ccc;
	margin:50px auto 20px;
	padding:20px;
}

#not-auth-page {
	
	width:450px;
	margin:50px auto 20px;
	padding:20px;
	
}
#not-auth-page .link, #login-form-container .link {
	background:#333;
	padding:10px;
}
/******************************************************************************/
/****************************Tables *******************************************/
/******************************************************************************/
table {
	
	background:#fff;
	margin-bottom:20px;
	clear:both;
	border:1px solid #ccc;
	
}
table tfoot td{
	padding:0px!important;
	margin:0px!important;
}
table td,
table th {
	padding:5px 10px;
	border-bottom:1px solid #CCC;
	vertical-align: top;
}
table th {
	padding:10px;
	text-align:left;
}
table thead {
	background:#0094C6;
	color:#fff;
}
table thead .head {
	height:40px;
}
table thead a,
table thead a:link,
table thead a:visited{
	text-decoration:none;
	color:#FFF;
	padding:2px;
}
table thead a:hover {
	color:#ccc;
}
.ord-asc{
	padding-left:20px !important;
	background:url(../../images/ord-desc.gif) no-repeat 2px 50%;
}
.ord-desc{
	padding-left:20px !important;
	background:url(../../images/ord-asc.gif) no-repeat 2px 50%;
}
table thead th {
	text-align:left;
}

table tfoot td {
	border-bottom:none;
}

td.rowActions,
th.rowActions {
	border-left:1px solid #ccc;
}
th.rowActions {
	background:#f0f0f0;
	color:#333;
}
.rowActions a,
.rowActions a:link,
.rowActions a:visited{
	float:left;
	display:block;
	padding:5px 10px;
	margin-right:5px;
	font-weight:bold;
	color:#0094C6;
	text-decoration:none;
	outline:0;
}

.rowActions a:hover {
	color:#fff;
	background:#f30;
}
#adminp-container table tr.even{
	background:#f0f0f0;
}

/*********************************************************************************/
/****************************** websites page ***********************************/
.rtv {
	position:relative;
}
.website-actions {
	width:200px;
}

.edit-page {
	width:1000px;
	float:left;
	clear:both;
}
.edit-page .publish-buttons {
	
	position:absolute;
	right:0px;
	top:5px;
}
.edit-page .publish-buttons form {
	float:left;
	margin-right:10px;
}

.edit-page .navi-container {
	width:200px;
	float:left;
	background:#f0f0f0;
	padding:10px;
}

.edit-page .editor-container {
	width:750px;
	float:left;
	background:#f0f0f0;
	padding:10px;
	min-height:500px;
}
.edit-page .navi-container .navi {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.edit-page .navi-container .navi li, 
.edit-page .navi-container .navi li a,
.edit-page .navi-container .navi li a:link,
.edit-page .navi-container .navi li a:visited {
	display:block;
	clear:both;
	outline: 0;
}
.edit-page .navi-container .navi li {
	border-bottom:1px solid #ccc;
}
.edit-page .navi-container .navi li a{
	padding:10px 10px;
	color:#333;
	background:#fff;
}
.edit-page .navi-container .navi li a:hover {
	background:#ccc;
}

.edit-page .navi-container .navi li a.current {
	background:#f0f0f0;
}

.edit-page .navi-container .navi li.banners a{
	background:#999;
	color:#fff;
}
.edit-page .navi-container .navi li.banners a:hover{
	background:#666;
	color:#fff;
}
.edit-page .navi-container .navi li.banners a.current {
	background:#f0f0f0;
	color:#333;
}
#box-editor .box {
	background:#ccc;
	margin-bottom:10px;
	position:relative;
}

#box-editor .box .delete {
	position:absolute;
	right:10px;
	top:10px;
}

#home-editor {
	
}
#home-editor .images-table {
	width:100%;
}
#home-editor .images-table .img-preview {
	
}

#fleet-editor {}
#fleet-editor .car-info {
	margin-bottom:10px;
	background:#ccc;
	padding:10px;
	position:relative;
}
#fleet-editor .car-info .delete {
	position:absolute;
	right:10px;
	top:10px;
}
#fleet-editor .car-info .price{
	width:90px;
	margin-right:0px;
}

#fleet-editor .car-info .price-large{
	width:110px;
}
#fleet-editor .car-info .vehicle{
	width:420px;
}
/*****************************************************/
.dialog-overlay {
	width:100%;
	height:100%;
	z-index:200;
	background:#333 url(/images/admin/dialog-overlay-bg.png) repeat 0 0;
	position:absolute;
	left:0px;
	top:0px;
	padding:0;
	opacity:0.5;
}
/*******************************************************************/
.tour-box {
	padding-top:30px;
}
.tour-box .txt {
	width:360px;
}
.tour-box .inputs {
	width:390px;
	float:left;
}
.tour-box .gallery {
	width:316px;
	float:left;
	background:#f0f0f0;
	padding:10px;
	border:1px solid #fff;
	padding-top:0px;
}
.tour-box .gallery  .txt {
	width:250px;
}
.tour-box .preview {
	height:290px;
	width:328px;
	padding-top:10px;
	overflow:auto;
	border-bottom:2px solid #CCC;
	margin-bottom:5px;
}
.tour-box .preview .thumb {
	width:140px;
	padding:15px 5px 5px;
	background:#333;
	text-align:center;
	margin-bottom:10px;
	margin-right:10px;
	float:left;
	position:relative;
}
.tour-box .preview .thumb .del-btn {
	position:absolute;
	right:5px;
	top:0px;
	color:#F30;
	font-weight:bold;
	z-index:50;
}
.tour-box .preview .thumb .del-btn:hover{
	color:#C30;
}
.tour-box .preview .end-row {
	margin-right:0px;
}
.tour-box .preview .thumb img {
	width:140px;
	height:90px;
}
.tour-box .preview .thumb .caption{
	background:#CCC;
	font-size:11px;
}
/***************************************************************************/
/************************ Clone sites *************************************/
.clone-wizard {
	
}
.clone-wizard #message{
	width:270px;
}
.clone-wizard .screens {
	
}

.clone-wizard .screen {
	width:850px;
	/*height:450px;*/
	padding:10px;
	background:#666;
	border:1px solid #666;
	position:relative;
}
.clone-wizard .screen .btn-set {
	position:absolute;
	left:10px;
	bottom:10px;
}
.clone-wizard .screen .title{
	margin-bottom:10px;
	padding:8px;
	background:#333;
	color:#ccc;
	font-family: Arial,sans-serif;
	font-size:18px;
}
.clone-wizard .screen .list {
	padding:0;
	padding:0;
	list-style-type:none;
}
.clone-wizard .screen .list li, .clone-wizard .screen .list  li a{
	display:block;
	
	float:left;
	
}
.clone-wizard .screen .list li {
	margin-bottom:10px;
	margin-right:10px;
	
}
.clone-wizard .screen .list li a{
	background:#F0F0F0;
	color:#333;
	border:1px solid #666;
	padding:10px;
	width:180px;
}
.clone-wizard .screen .list li a:hover,
.clone-wizard .screen .list li a.current{
	background:#fc0;
	color:#FFF;
}

.clone-wizard #sections .sections {
	height:370px;
}
.clone-wizard #sections .btn-set {
	text-align:right;
}
.clone-wizard #sections .box {
	padding:10px;
	background:#f0f0f0;
	border:1px solid #999;
	margin-bottom:4px;
}

.clone-wizard #sections .image {
	padding:10px;
	width:180px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	background:#f0f0f0;
	border:1px solid #999;
}
.clone-wizard #sections .image img {
	width:180px;
	height:130px;
	clear:both;
	margin-bottom:5px;
}
.clone-wizard #sections .current{
	background:#fc0;
	color:#FFF;
	/*border-color:#09F;*/
}
.clone-wizard #sections .box h2{
	font-family: Arial, sans-serif;
	font-weight:normal;
}
.clone-wizard .wizard_btn {
	border:none;
	border:1px solid #000;
	background:#333;
	color:#FFF;
	padding:10px 20px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}
.clone-wizard .wizard_btn:hover{
	background:#999;
	border-color:#333;
}
.clone-wizard .clone_btn {
	background:#c30;
	border-color:#e30;
}
.clone-wizard .clone_btn:hover {
	background:#e30;
	border-color:#c30;
}
.clone-wizard .disabled-btn, .clone-wizard .disabled-btn:hover {
	background:#f0f0f0;
	color:#ccc;
	border-color:#999;
}

/*********************************************************************************/
/******************************* banners *****************************************/
.banner {
	background:#ccc;
	padding:10px;
	clear:both;
	margin-bottom:20px;
	position:relative;
}
.banner .delete {
	position:absolute;
	right:10px;
	top:10px;
	z-index:50;
}
.banner label {
	font-weight:bold;
}
.banner .column-first {
	padding-left:0px;
}
.banner .banner-opts {
	
}
.banner .error_txt {
	border:1px solid #e30!important;
}

/****************************************************************************************/
.countries-page {
	width:550px;
}

.countries-page .top-bar{
	padding:5px 10px;
	background:#666;
	color:#ccc;
}
.countries-page form {
	margin:5px 0px;
	border:1px solid #999;
	padding:5px;
}
.countries-page form #ajax-info {
	padding:5px 0px;
}
.countries-page form #ajax-info img{
	float:left;
}
.countries-page form #ajax-info span {
	padding-top:5px;
}
.countries-page .top-bar h1 {
	border-bottom:1px solid #999;
	margin-bottom:5px;
}
.countries-page .top-bar #add-country-btn {
	
}

.countries-page .countries-list {
	padding:0;
	padding:0;
	list-style-type: none;
}

.countries-page .countries-list li {
	display:block;
	clear:both;
}
.countries-page .countries-list li {
	margin-bottom:5px;
	padding:8px 10px;
	background:#f0f0f0;
	border:1px solid #ccc;
	position:relative;
}
.countries-page .countries-list li .btns  {
	position:absolute;
	right:5px;
	top:5px;
}
.countries-page .countries-list li .btns a {
	padding:2px 5px;
	display:block;
	float:left;
}
.countries-page .countries-list a.cname,
.countries-page .countries-list a.cname:link,
.countries-page .countries-list a.cname:visited{
	width:300px;
	color:#333;
}
.countries-page .countries-list a.cname:hover {
	color:#666;
}

/************************ vehicle edit page*************************/
.image-form {
	width:310px;
	padding:10px;
	background:#999;
	border:1px solid #666;
	margin-right:20px;
	margin-bottom:20px;
	float:left;
}

.image-form .img-preview {
	margin-bottom:10px;
	height:125px;
	width:175px;
	border:1px dashed #333;
	position:relative;
}

.image-form .img-preview .hint {
	width:100px;
	text-align: center;
	position:absolute;
	left:190px;
	top:10px;
}

.image-form .img-preview img {
	border:none;
	height:125px;
	width:175px;
}
.image-form .img-preview .not-set {
	font-weight:bold;
	color:#333;
	padding:10px;
	display:block;
}
.image-form .input {
	padding:5px;
	background:#666;
}

.edit_vehicle_texts_yellow {
    background: #CCCC00;
}

.edit_vehicle_tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.edit_vehicle_tabs {
    width: 650px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 5px 0;
}

.edit_vehicle_tabs li{
    float: left;
}

.edit_vehicle_tabs label {
    border: 1px solid;
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    font-family: Tahom, Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.edit_vehicle_tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #333;
    color: white;
    top: 0;
}

.edit_vehicle_tabs_container {
    border-bottom: 1px solid;
    color: #333;
    height: 49px;
}

.tabs_hide {
    display:none;
}

.tabs_show {
    display:block;
}

legend {
    font-weight:bold;
    font-size:16px;
    background:#333;
    padding:5px;
    color:#ccc;
}

#language_manager {
    display: none;
    position: absolute;
    top: 125px;
    right: 20%;
    width: 537px;
    border: 2px solid #5c75ab;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #CCC;
    min-height: 100px;
    padding: 20px;
}
#language_manager .flag img {
    margin: 6px;
}

#versions_list {
    background-color: #fff;
}
#versions_list h3{
    padding: 10px 0 10px 20px;
}
#versions_list ul#revisions {
    list-style-position: inside;
    padding: 10px 20px;
    height: 70px;
    overflow-y: auto;
}