@charset "utf-8";
/* CSS Document */
.error,.valid {
	background:#E30;
	color:#FFF;
	padding:10px;
	margin:0px auto 10px;
}

.valid {
	background:#9c0;
	color:#FFF;
}
.input_error{
	color:#f00!important;
}
.txt {
	background:#FFF url(../../images/forms/text-field-bg.gif) repeat-x 0 0;
	border:1px solid #CCC;
	width:300px;
	padding:5px;
	margin-right:5px;
}

form fieldset {
	padding:10px;
	border:none;
	border-top:4px solid #333;
}
form fieldset legend {
	font-weight:bold;
	font-size:16px;
	background:#333;
	padding:5px;
	color:#ccc;
}
form .small {
	width:65px;
}
form .med{
	width:150px;
}
form .large {
	width:650px;
}
form .id {
	width:50px;
}
form .cc {
	width:150px;
}
.input-error {
	border:1px solid #F00;
}

.txtarea {
	width:400px;
}

dl.ci_form {
margin-bottom:0px;
}
dl.ci_form  dt {
	padding: 0 0 5px 0;
}
dl.ci_form dd {
	padding: 0 0 10px 10px;
}
dl.ci_form  dt label {
	font-weight: bold;
	font-size: 12px;
}
dl.ci_form  dt label.required:before {
	content: "* ";
	color: #ff0000;
}
span.error_txt {
	color: #ff0000;
}
dl.ci_form  dd ul.fields_error {
	padding: 5px 0 5px 25px;
	color: #ff0000;
}
dl.ci_form  .chbx {
	display:block;
	float:left;
	padding:5px:
}
dl.ci_form  dd label {
	padding:10px;
}
.orange-btn,
.form_btn{
	border:1px solid #FF7C00;
	color:#fff!important;
	font-weight:bold;
	background:#e30 url(../../images/forms/btn-bg.gif) repeat-x 0% 0%;
	height:30px;
	padding:5px 20px;
	cursor:pointer;
	text-decoration:none;

}
.orange-btn {
	font-size:15px;
}
.btn-disable {
	background:#f0f0f0 url(../../images/forms/disabled-btn-bg.gif) repeat-x 0% 0% !important;
	color:#ccc;
	border:1px solid #ccc;
}
.link-btn {
	border:1px solid #FF7C00;
	color:#fff !important;
	font-weight:bold;
	text-decoration:none;
	margin-right:5px;
	background:#e30 url(../../images/forms/btn-bg.gif) repeat-x 0% 0%;
	padding:5px 10px !important;
	cursor:pointer;
}
.link-btn:hover {
	background:#c30;
	border:1px solid #c30;
}
a.link-btn-end {
	margin-right:0px;
}

/**************************** Add category form*******************************************/
#new-cat-form-container {
	background:#f0f0f0;
	border:1px solid #ccc;
	width:708px;
	height:160px;
}
